*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*@media screen and(max-width:673px) {
.main-content
    grid-template-columns:repeat(1, 1fr);
     
}*/
.header global-alert-offset{
    border-top: 1px;
    margin-top: 2px;

}
.li-footer{
    border-bottom:10px;
    margin-bottom: 2px;
}
.main-content {
min-height: 1000px;
width: 80%;
margin: 20px auto;
display: grid;
/*grid-template-columns: 300px 700px;*/
}

section{
    display: block;
}

body{
    display: block;
    background-color:rgb(247, 243, 243);
}
/*body, p{
    font-weight: var(--artdeco-reset-typography-font-weight-normal);
    --artdeco-reset-typography_getFontSize:
    1.6rem;
    font-size: var(--artdeco-reset-typography_getFontSize):
    --artdeco-reset-typography_getLineHeight:
    1.5;
    line-height: var(--artdeco-reset-typography_getLineHeight);
   color:
   var(--artdeco-reset-typography-get-color);
   
}*/
.left-section{
    grid-column: span;
    background-color: rgb(219, 223, 230);

}
.right-section{

    background: color #e2d8d8;;
    grid-column: span1/ span2;
    

}
.profile-image{
    display: block;
    text-align: center;
    padding: 1rem;
    display: block;
    margin: auto;
    border: 5px rgb(247, 238, 238) solid ;
    border-radius: 30%;
    width: 60%;
}
.name{
    font-size: 1.2rem;
    font: weight 700; ;
    padding:0.8rem ;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02px;
    
}
.description{
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
}
.designation{
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}
.right-main-content{
    
    padding-top: 2rem;
    padding-bottom: 32px;
    padding-left: 3rem;
    padding-right:48px ;
}
.right-title{
    font-size: 1.2rem;
    font-weight: 700;
    padding:0.5rem ;
    letter-spacing: 1px;
    text-transform: uppercase;

}
.skills{
    font-size: 0.75em;
    text-align: center;
    text-transform: uppercase;
    padding-top: 1rem; 
    padding-bottom: 1rem;
    padding-right:0.5rem ;
    padding-left: 0.5rem;
}
.skill-title{
    font-size: 0.65rem;
    font-weight: 0.65rem;
    text-align: left;
    padding-bottom: 0.5rem;
}
.progress-bar{
    border: 1px solid rgb(15, 14, 14) ;
    height: 4px;

}
.right-title{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
}
.social-media{
    text-align: center;
}